.guaranty {
    &__grid {
      display: grid;
      grid-template-columns: 5fr 6fr;
      grid-gap: 2vw;

        @include m-b-laptop-down {
            grid-template-columns: 1fr;
          }
    }
    &__grid-side {
      max-height: 630px;
      min-height: 320px;
      
      @include m-b-laptop-down {
        background-color: var(--white);
      }

      @include m-b-mobile-lg-down {
        min-height: 800px;
      }
    }

    &__desc {
      margin: 0;
      @include m-b-laptop-down {
        color: var(--black);
      }
    }
    &__desc:not(:last-child)  {
      margin-bottom: 12px;

    }
    

    &__link {
      display: none;
      margin-top: 12px;

      @include m-b-laptop-down {
        display: flex;
      }
    }

    &-wrapper {
      @include m-b-laptop-down {
        background-color: var(--light);
      }
    }
}